.card {
  border: 2px solid white;
  background-color: white;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  margin-top: 50px;
}

.view {
  box-sizing: content-box;
  background-color: lightblue;
  border-radius: 15px;
  width: max-content;
  padding: 10px;
  margin: 10px;
}

.view:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}
